<html>
	<head>
		<title>Seed Database</title>
	</head>
	<body>	
			<h2>Navigation</h2>
			<span>
				<div>Admin Interface</div>
				<ul>
					<li><a href="http://localhost/admin-interface">Create Product</a></li>
					<li><a href="http://localhost/admin-interface/create-database">Create Database</a></li>
					<li><a href="http://localhost/admin-interface/seed-db">Seed Database</a></li>
				</ul>
			</span>
			<span>
				<div>Stores</div>
				<ul>
					<li><a href="http://localhost/store-nl">Store NL</a></li>
					<li><a href="http://localhost/store-gb">Store UK</a></li>
					<li><a href="http://localhost/store-us">Store US</a></li>
				</ul>
			</span>

			{% if succes %}
				<h3 style='color: green;'>Seed request was sent to warehouse</h3>
			{% endif %}
			<h1>Create a product</h1>
			<br/>
		<form method='post' target='/'>
			<input type='number' placeholder='number of products' name='number-of-products'/>
			<input type='number' placeholder='minimum price' name='min-price'/>
			<input type='number' placeholder='maximum price' name='max-price'/>
			<br/>
			<input type='submit' value='Seed database'/>
		</form>
	</body>
</html>
